In [1]:
import sqlite3
conn=sqlite3.connect("school_database.db")
cur=conn.cursor()

In [2]:
cur.execute(""" CREATE TABLE school(
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            email TEXT)"""
            )

OperationalError: table school already exists

In [ ]:
cur.execute(""" INSERT INTO school(name,age,email)
            VALUES('Alice',14,'alice@gmail.com');""")

In [ ]:
query="""SELECT * FROM school;"""
result=cur.execute(query).fetchall()
print(result)

In [ ]:
#CRUD OPERATIONS: CREATE,UPDATE,INSERT,DELETE,ALTER
#adding another column
cur.execute("""ALTER TABLE school ADD COLUMN school_name TEXT;""")

In [ ]:
#update values
cur.execute("""UPDATE school SET school_name='ABC High School' WHERE name ='Alice';""")

In [ ]:
query="""SELECT *FROM school;"""
result=cur.execute(query).fetchall()
print(result)

In [ ]:
cur.execute("""ALTER TABLE school ADD COLUMN cohort TEXT;""")

In [ ]:
cur.execute("""UPDATE school SET cohort='September' WHERE name ='Alice';""")

In [ ]:
query="""SELECT *FROM school;"""
result=cur.execute(query).fetchall()
print(result)

In [ ]:
cur.execute(""" INSERT INTO school(name,age,email,school_name,cohort)
            VALUES('Bob',15,'bobe@gmail.com','XYZ','October');""")

In [ ]:
cur.execute(""" INSERT INTO school(name,age,email,school_name,cohort)
            VALUES('Charlie',18,'chalie@gmail.com','NAB','April');""")

In [ ]:
query="""SELECT *FROM school;"""
result=cur.execute(query).fetchall()
print(result)

In [ ]:
#delete 
cur.execute(""" DELETE FROM school WHERE id=2;""")

In [ ]:
query="""SELECT *FROM school;"""
result=cur.execute(query).fetchall()
print(result)

In [ ]:
conn.close

JOIN

In [ ]:
#JOIN,CONNECTION OF TWO TABLES