In [1]:
import sqlite3
import pandas as pd

In [2]:
conn=sqlite3.connect("edu_institute.db")
cur=conn.cursor()

In [3]:
cur.execute(""" CREATE TABLE students(
            student_id INTEGER PRIMARY KEY,
            name VARCHAR(50),
            age INTEGER,
            gender CHAR(1),
            enrollment_date DATE,
            program VARCHAR(50))"""
            )

In [10]:
cur.execute(""" INSERT INTO students(name,age,gender,enrollment_date,program)
            VALUES('Alice',14,'male','22 August','Data Science'),
            ('Edgar',15,'female','24 August','Statistics'),
            ('Allan',18,'male','23 August','Maths'),
            ('Beutah',16,'female','25 August','Communication Skills'),
            ('Bibian',14,'male','25 August','Soft skills');
            """)

In [12]:
query="""SELECT * FROM students;"""
result=cur.execute(query).fetchall()
print(result)

[(1, 'Alice', 14, 'male', '22 August', 'Data Scienc'), (2, 'Alice', 14, 'male', '22 August', 'Data Science'), (3, 'Edgar', 15, 'female', '24 August', 'Statistics'), (4, 'Allan', 18, 'male', '23 August', 'Maths'), (5, 'Beutah', 16, 'female', '25 August', 'Communication Skills'), (6, 'Bibian', 14, 'male', '25 August', 'Soft skills')]

In [14]:
#Write a query to select all columns for all students in the "Data Science"  program. (1 Mark) 
pd.read_sql("SELECT * FROM students WHERE program = 'Data Science';",conn)

   student_id   name  age gender enrollment_date       program
0           2  Alice   14   male       22 August  Data Science

In [17]:
#Write a query to find the total number of students and display it as Total  
pd.read_sql("SELECT COUNT(*) AS Total FROM students;",conn)

   Total
0      6

In [ ]:
#Function usage
#Use an appropriate function to display the current date in a column named  Today's Date. (1 Mark) 
pd.read_sql("SELECT CURRENT_DATE() AS \"Today's Date";",conn)
#pd.read_sql("SELECT DATE('now') AS 'Todays Date';", conn)

DatabaseError: Execution failed on sql 'SELECT CURRENT_DATE() AS "Today's Date";': near "(": syntax error